<%=render 'public/header_log_in'%>
<div class="container">
  <div class="row">
    <div class="col-3">
     <p class="h5 bg-secondary m-4 text-center">会員情報編集</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%=form_with model:@customer,url:{controller:'customers',action:'update'},local:true do |f|%>
      <div class="form-group">
        <div class="row mt-3">
          <label class="col-2">氏名</label>
          <%=f.text_field:last_name,class:"col-2 rounded"%>
          <%=f.text_field:first_name,class:"col-2 ml-5 rounded"%>
        </div>
        <div class="row mt-2">
          <label class="col-2">フリガナ</label>
          <%=f.text_field:last_name_kana,class:"col-2 rounded"%>
          <%=f.text_field:first_name_kana,class:"col-2 ml-5 rounded"%>
        </div>
        <div class="row mt-2">
          <label class="col-2">郵便番号</label>
          <%=f.text_field:postal_code,class:"col-2 rounded"%>
        </div>
        <div class="row mt-2">
          <label class="col-2">住所</label>
          <%=f.text_field:address,class:"col-6 rounded"%>
        </div>
        <div class="row mt-2">
          <label class="col-2">電話番号</label>
          <%=f.text_field:telephone_number,class:"col-2 rounded"%>
        </div>
        <div class="row mt-2">
          <label class="col-2">メールアドレス</label>
          <%=f.text_field:email,class:"col-2 rounded"%>
        </div>
        <div class="row">
          <%=f.submit "編集内容を保存",class:"btn btn-success col-3 offset-md-2 mt-3"%>
          <%=link_to "退会する",current_customer_cancel_path,class:"btn btn-danger offset-md-2 mt-3"%>
        </div>
      </div>

      <%end%>


    </div>
  </div>
</div>