<div class="container">
  <div class="row">
    <div class="col-3 offset-md-1">
     <p class="h5 bg-secondary m-4 text-center">商品一覧</p> 
    </div>
  </div>
  <div class="row">
    <table class="table col-4">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
      <%@items.each do |items|%>
        <tr>
          <td><%=items.id%></td>
          <td><%=items.name%></td>
          <td><%=items.price%></td>
          <td><%=items.genre.name%></td>
          <td><%=items.is_active%></td>
        </tr>
      <%end%>
      </tbody>
    </table> 
  </div>
  
</div>