<%=render 'admin/header_log_in'%>
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-2">
     <p class="h5 bg-secondary m-4 text-center">商品一覧</p>
    </div>
    <%=link_to "", new_admin_item_path, class:"fas fa-plus-circle fa-3x col-2 p-4", style:"color:gray"%>
  </div>
  <div class="row">
    <table class="table col-10 mx-auto table-bordered-bottom">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
      <%@items.each do |items|%>
        <tr>
          <td><%=items.id%></td>
          <td><%=link_to items.name,admin_item_path(items.id),class:"border-bottom border-dark text-dark"%></td>
          <td><%=items.price%></td>
          <td><%=items.genre.name%></td>
          <td>
          <%if items.is_active%>
            <p class="text-success">販売中</p>
          <%else%>
            <p class="text-black-50">販売停止中</p>
          <%end%>
          </td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-3 mx-auto"><%=paginate @items%></div>
  </div>

</div>