<%if customer_signed_in?%>
  <%=render 'public/header_log_in'%>
<%else%>
  <%=render 'public/header'%>
<%end%>

<div class="container">
  <div class="row">
    <div class="col-11 offset-md-2">
      <div class="col-8 border border-dark mt-5 p-5 image_top">
        <div class="col-7 mx-auto mt-4 border border-dark shadow-lg">
          <p>ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="row">
        <p class="h2 m-3">新着商品</p>
      </div>
      <div class="row d-flex flex-row">
        <% @items.first(4).each do |item|%>
          <div class="col-2 m-3">
            <div class="row">
              <%=link_to item_path(item.id) do%>
                <%=attachment_image_tag item,:image,:fill,150,100%>
              <%end%>
            </div>
            <div class="row">
              <%=item.name%>
            </div>
            <div class="row">
              ¥<%=addTax(item.price,1.08).to_s(:delimited)%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>