<div class="container">
  <div class="row">
    <div class="col-4">
     <p class="h5 bg-secondary m-4 text-center"><%=@customer.last_name%><%=@customer.first_name%>さんの会員詳細</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <p class="col-3">会員ID</p>
        <%=@customer.id%>
      </div>
      <div class="row">
        <p class="col-3">氏名</p>
        <%=@customer.last_name%> <%=@customer.first_name%>
      </div>
      <div class="row">
        <p class="col-3">フリガナ</p>
        <%=@customer.last_name_kana%> <%=@customer.first_name_kana%>
      </div>
      <div class="row">
        <p class="col-3">郵便番号</p>
        <%=@customer.postal_code%>
      </div>
       <div class="row">
        <p class="col-3">住所</p>
        <%=@customer.address%>
      </div>
       <div class="row">
        <p class="col-3">電話番号</p>
        <%=@customer.telephone_number%>
      </div>
       <div class="row">
        <p class="col-3">メールアドレス</p>
        <%=@customer.email%>
      </div>
      <div class="row">
        <div class="col-3">会員ステータス</div>
        <%if @customer.is_active%>
          <p class="text-success">有効</p>
        <%else%>
          <p class="text-black-50">退会</p>
        <%end%>
      </div>
      <div class="row">
        <%=link_to "編集する",edit_admin_customer_path(@customer.id),class:"btn btn-success col-2 offset-md-3"%>
        <%=link_to "注文履歴一覧を見る",admin_customers_path,class:"btn btn-primary col-3 offset-md-1"%>
      </div>
    </div>
  </div>
</div>