<div class="container">
  <div class="row d-flex">
    <div class="col-3 mr-auto mt-4">
     <p class="h4 bg-secondary text-center">ショッピングカート</p>
    </div>
    <div class="col-2 mt-3">
      <%=link_to "カートを空にする",cart_items_destroy_all_path,method: :delete,class:"btn btn-danger"%>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <%@cart_items.each do |cart_item|%>

        <tbody>
          <tr>
            <td>
              <%=attachment_image_tag cart_item.item,:image,:fill,50,30,fallback:"no_image.jpeg" %>
              <%=cart_item.item.name%>
            </td>
            <td>
              <%=addTax(cart_item.item.price,1.08).to_s(:delimited)%>
            </td>
            <td>
              <%=form_with model:cart_item,local:true do |f|%>
                <%=f.select :amount,[["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]],prompt:"個数選択",class:"form-control"%>
                <%=f.submit "変更",class:"btn btn-success"%>
              <%end%>
            </td>
            <td>
              <%=subtotal(addTax(cart_item.item.price,1.08),cart_item.amount).to_s(:delimited)%>
            </td>
            <td>
              <%=link_to "削除する","/cart_items/#{cart_item.id}",method: :delete,class:"btn btn-danger"%>
            </td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mr-auto">
      <%=link_to "買い物を続ける",items_path,class:"btn btn-primary"%>
    </div>
    <div class="col-4">
      <%@cart_items.each do |cart_item|%>
        <%sum=0%>
        <%=sum+=subtotal(addTax(cart_item.item.price,1.08),cart_item.amount)%>
      <%end%>
    </div>
  </div>
</div>