<div class="container">
  <div class="row">
    <div class="col-3 offset-md-1">
     <p class="h3 bg-secondary m-5 text-center">ログイン</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-md-2">
      <p class="h5 bg-secondary mb-4 text-center">会員の方はこちらからログイン</p>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group pb-5">
    <div class="row">

        <div class="col">
          <div class="row">
            <div class="col-7 mx-auto">
              <label class="col-3">メールアドレス</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"sample@example.com",class:"col-8 mb-3"%>
            </div>
          </div>
          <div class="row">
            <div class="col-7 mx-auto">
              <label class="col-3">パスワード</label>
              <%= f.password_field :password, autocomplete: "current-password",class:"col-8 mb-5"%>
            </div>
          </div>
          <div class="col-7 mx-auto">
            <%= f.submit "ログイン",class:"btn btn-primary offset-md-3 col-3" %>
          </div>
        </div>

    </div>
  </div>
  <%end%>
  <div class="row">
    <div class="col-4 offset-md-2">
      <p class="h5 bg-secondary mb-4 text-center">会員登録がお済みでない方</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <%=link_to "こちら",new_customer_registration_path,class:"text-primary border-bottom border-primary"%>から新規登録を行ってください。
    </div>
  </div>
</div>
