<div class="container">
  <div class="row mt-5">
    <div class="col-3 offset-md-1">
      <p class="h3 bg-secondary text-center">注文情報入力</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p class="h4 font-weight-bold">支払方法</p>
    </div>
  </div>
  <%=form_with model:@order,url:{action:'confirmation'},local:true do |f|%>
  <div class="form-group form-check">
    <%=f.radio_button:payment_method, :クレジットカード, checked:"cheked"%>
    <label class="form-check-label">クレジットカード</label>
  </div>
  <div class="form-group form-check">
    <%=f.radio_button:payment_method, :銀行振込%>
    <label class="form-check-label">銀行振込</label>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p class="h4 font-weight-bold">お届け先</p>
    </div>
  </div>
  <div class="row">
    <%=f.radio_button:address_option,'0'%>
    <%=f.label "ご自身の住所"%>
      <%#=f.hidden_field:name,:value => @customer.full_name%>
      <%#=f.hidden_field:postal_code,:value => @customer.postal_code%>
      <%#=f.hidden_field:billing_amount,:value => 800%>
  </div>
  <div class="row">
    <%=f.radio_button:address_option,'1'%>
    <%=f.label "登録済住所から選択"%>
  </div>
  <div class="row">
    <%= f.collection_select :address_full, @addresses.all,:id, 'full_address' %>
  </div>
    <%#@addresses.each do |address|%>
      <%#f.hidden_field:name,:value => address.name%>
      <%#f.hidden_field:postal_code,:value => address.postal_code%>
      <%#f.hidden_field:address,:value => address.address%>
      <%#f.hidden_field:billing_amount,:value => 800%>
    <%#end%>
  <div class="row">
    <%=f.radio_button:address_option,'2'%>
    <%=f.label "新しいお届け先"%>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <%=f.submit "確認画面へ進む"%>
  </div>
  <%end%>
</div>