<%=render 'public/header_log_in'%>
<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <%=attachment_image_tag @item,:image,:fill,250,180, fallback:"no_image.jpeg"%>
    </div>
    <div class="col-7">
      <div class="row">
        <p class="h3 font-weight-bold"><%=@item.name%></p>
      </div>
      <div class="row">
        <p class="h5"><%=@item.introduction%></p>
      </div>
      <div class="row pt-5 mt-4">
        <p class="h4">¥<%=addTax(@item.price,1.1).to_s(:delimited)%></p>（税込）
      </div>
      <div class="row">
        <%=form_with model:@cart_item,local:true do |f|%>
          <%=f.hidden_field :item_id, :value => @item.id %>
          <%=f.select :amount,*[1..50],prompt:"個数選択"%>
          <%=f.submit "カートに入れる",class:"btn btn-success"%>
        <%end%>
      </div>
    </div>
  </div>
</div>